{% extends 'main/base.html' %}
{% load static %}


{% block content %}
 <div class="container mt-5">
     <h1 class="text-warning mb-5 border-bottom">Services</h1>
     
     <!-- Row Container -->
     <!-- 1st-Row -->
     <div class="row text-center text-white mb-5">
           <div class="col-sm-4">
             <i class="fas fa-search-dollar fa-2x mb-3 i-color"></i>
             <h3>SEO</h3>
             <p class="ss-color text-center">SEO stands for <b>Search Engine Optimization</b>, which is the practice of increasing the quantity and quality of traffic to your website through organic search engine results</p>
            </div>
            <div class="col-sm-4">
                <i class="fas fa-palette fa-2x mb-3 i-color"></i>
                <h3>Web Design</h3>
                <p class="ss-color">Web design is the process of creating websites. It encompasses several different aspects, including webpage layout, content production, and graphic design. </p>
               </div>
             <div class="col-sm-4">
                <i class="fas fa-code fa-2x mb-3 i-color"></i>
                <h3>Web Development</h3>
                <p class="ss-color">Web development refers to building, creating, and an maintaining websites. It includes aspects such as web design, web publishing, web programming, and database management.</p>
              </div>   
        </div>

         <!-- 2nd-Row -->
      <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
          <i class="fab fa-android fa-2x mb-3 i-color"></i>
          <h3>Android</h3>
          <p class="ss-color">Android. Android is a mobile operating system developed by Google. It is used by several smartphones and tablets. ... The Android operating system (OS) is based on the Linux kernel.</p>
         </div>
         <div class="col-sm-4">
             <i class="fab fa-apple fa-2x mb-3 i-color"></i>
             <h3>ios</h3>
             <p class="ss-color">iOS is a mobile operating system created and developed by Apple Inc. exclusively for its hardware. It is the operating system that presently powers many of the company's mobile devices, including the iPhone, and iPod Touch</p>
            </div>
          <div class="col-sm-4">
             <i class="fas fa-ad fa-2x mb-3 i-color"></i>
             <h3>Advertising</h3>
             <p class="ss-color">Advertise Your Websites, Android App,Business through our advertising partner.</p>
           </div>   
           </div>
            <!-- 3rd-Row -->
      
            <div class="row text-center text-white mb-5">
                <div class="col-sm-4">
                  <i class="fas fa-pencil-alt fa-2x mb-3 i-color"></i>
                  <h3>Logo Design</h3>
                  <p class="ss-color">Hire a professional Logo maker from our partner and make your business grow.</p>
                 </div>
                 <div class="col-sm-4">
                     <i class="fas fa-database fa-2x mb-3 i-color"></i>
                     <h3>Hosting</h3>
                     <p class="ss-color">Get Domain Name and Hosting your website live to reach out peoples.</p>
                    </div>
                  <div class="col-sm-4">
                     <i class="fas fa-headset fa-2x mb-3 i-color"></i>
                     <h3>Support</h3>
                     <p  class="ss-color">If any queries regarding services contact us we will get touch with you soon.</p>
                   </div>   
               </div>

 </div>
{% endblock content %}