{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="mt-5">
    <div class="text-center">
      <img src="{% static 'main/images/deepak.jpg' %}" class="img-thumbnail" height="80px" width="180px" alt="MainContent Images">
    </div>
    
    <div class="mt-5 text-white mx-5 text-justify">
      <h3 class="font-weight-bold st-fonts">Hello,</h3>
      <div class="px-4" style="line-height:2rem;">
        <p style="text-indent:100px;">My Name is <b class="text-warning st-fonts">Deepak Kumar Chouhan</b>
          I have done B.Tech  with CSE,from UCET,VBU University 2019,Hazaribagh</p>
        <p>I am a fresher in Software Development field.I have skilled like Android Development, Web Development, HTML5/CSS3 ,Javascript,Bootstrap4,jQuery
        ReactJS,MySQL ,Python and Django. </p>  
        
       </div>
    </div>
   
     
      </div>
      <div class="text-center">
        <a href="{% url 'Contact' %}" class="btn btn-warning my-3 mr-5">Hire</a>
        <a href="{% url 'Contact' %}" class="btn btn-info my-3">Contact</a>
      </div>


             <!-- Crousel -->

              <!-- <div class="container">
                    <div id="mycarousel" class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner">
                            <div class="carousel-item active">
                            <img src="{% static 'main/images/developer.png' %}" class="d-block w-100"/>
                            </div>
                            <div class="carousel-item" >
                              <img src="{% static 'main/images/web.jpg' %}" class="d-block w-100"/>
                              </div>
                              <div class="carousel-item">
                                <img src="{% static 'main/images/android.png' %}" class="d-block w-100"/>
                                </div>
                                <div class="carousel-item">
                                  <img src="{% static 'main/images/seo.jpg' %}" class="d-block w-100"/>
                                  </div>
                      </div>
                    </div>
              </div> -->

</div>
{% endblock content %}